Frameworks/VLCKit.xcframework/macos-arm64_x86_64/dSYMs/VLCKit.framework.dSYM/Contents/Resources/DWARF/VLCKit filter=lfs diff=lfs merge=lfs -text
Frameworks/VLCKit.xcframework/macos-arm64_x86_64/VLCKit.framework/Versions/A/VLCKit filter=lfs diff=lfs merge=lfs -text
Frameworks/VLCKit.xcframework/** filter=lfs diff=lfs merge=lfs -text
